body {
    background-color: #e5e5e5;
    margin: 0px auto;
    width: 1440px;

}

@font-face {
    font-family: Lato Bold;
    src: url('../fonts/Lato-Bold.ttf');
}
@font-face {
    font-family: Lato Italic;
    src: url('../fonts/Lato-Italic.ttf');
}
@font-face{
    font-family: Lato Regular;
    src: url('../fonts/Lato-Regular.ttf');
}

@font-face{
    font-family: Georgia Italic;
    src: url('../fonts/georgia-italic.ttf');
}
a:hover {
    text-decoration: underline ;
}
header{
    display: inline-block;
    padding-bottom:37px;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
    width: 100%;
}
#wrapper {
    width: 81.73%;
    height: 100%;
    background-color: #fff;
    margin: 0px auto;
    position: relative;
    padding-left: 32px;
    padding-right: 32px;
}
#logo {
    margin-top:32px;
    float:left;
    display: inline-block;
    margin-right:4px;
    width:38px;
    height:43px;
}
#logo img {
    width:38px;
    height:42px;
}

nav {
    float:left;
}
.mobile_menu {
    display:none;
}
header ul {
    list-style-type:none;
    float:right;
}

header ul>li{
    font-family: "Lato Regular";
    font-size: 14px;
    line-height: 14px;
    display: inline-block;
    margin-top:46px;
    margin-left: 57px;
    color:#606060;
}
#right_menu{
    float:right;

}

.search_img {
    background: url(../img/sprite.png) no-repeat -5px -29px;
    width: 42px;
    height: 42px;
    float:left;
    margin-top:36px;
}

.search_img_active{
    background: url(../img/sprite.png) no-repeat -5px -77px;
    width: 42px;
    height: 42px;
    float:left;
    display: none;
    margin-top:36px;
}
.search_input{
    float:left;
    display: none;
}
input[type=search] {
    margin-top:36px;

    font-family: "Lato Italic";
    color: #606060;
    height:36px;  float:left;
    font-size: 11px;
    padding-left:10px;
    outline: none;
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}
input[type=search]:focus {
    width:150px;
}


a {
    text-decoration: none;
    color:#606060;
}
#basket {
    float:left;
    margin-right:30px;


}
#basket img {

    width: 22px;
    height: 22px;
    display: inline-block;
    margin-left:22px;
    margin-top:45px;
    margin-right:10px;
}
#basket a {
    display: inline-block;
    font-family: "Lato Regular";
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
    color:#606060;
}

header p {
    margin-top: 45px;
    float:left;
}


#top_bread {
    margin-top: 34px;
    width: 100%;


}
#top_bread a{
    display:inline-block;
    color:#606060;

}
#top_bread p {
    font-family: "Lato Regular";
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.product_switch {
    width:100%;
    position: relative;
    height: auto;
    display: inline-block;

}
.product {
    margin-left:185px;
    margin-top: 10px;
    float:left;
    width: 879px;
    height: 625px;
    display: inline-block;
}
.mini_container {
    margin-top: 293px;
    margin-right: 10px;
    display: inline-block;
    float:right;
}
.product_mini {
    margin-bottom:8px ;

}
h1 {
    margin-top: 42px;
    font-family: "Lato Bold";
    font-size: 34px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
}
h3{
    margin-top: 22px;
    font-family: "Georgia Italic";
    font-size: 14px;
    letter-spacing: 0.1px;
    text-align: center;
    color:#a3a3a3;
}
h5{
    margin-top: 35px;
    font-family: "Georgia Italic";
    font-size: 18px;
    color: #303030;
    letter-spacing: 1px;
    text-align: center;
}
.text {
    margin-top: 30px;
    font-family: "Lato Regular";
    font-size: 14px;
    color: #606060;
    text-align: center;
    line-height: 1.5;
}
h4{
    margin-top: 30px;
    font-family: "Lato Bold";
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.1px;
    text-align: center;

}
.sizes {
    margin-top: 42px;
    text-align: center;
    width:100%;
    display: inline-block;
}
.block_size {
    border:1px solid #606060;
    text-align: center;
    padding-top:10px;
    width:35px;
    height: 25px;
    display: inline-block;
    margin-right: 9px;
}
form {
    margin-top:40px;
    text-align: center;
    width: 100%;

    border-bottom: 1px solid #e5e5e5;
}
button {
    background-color: #f68236;
    box-shadow: none;
    text-decoration: none;
    outline: none;
    border: none;
    width:188px;
    height: 56px;
    text-align: center;
    margin-bottom: 90px;
}
button a {
    text-transform: uppercase;
    color:#fff;
}
/*Carousel*/

.carousel {
    margin-top:40px;
    width:100%;
    background-color: #a3a3a3;
    margin-bottom: 58px;

}

.carousel-wrapper{
    overflow: hidden;
    position: relative;
    margin-left:40px;
    margin-right:41px;
}
.carousel-items {
    width: 10000px; /* устанавливаем большую ширину для набора элементов */
    position: relative; /* позиционируем блок относительно основной области карусели */
}
.carousel-block {
    width:200px;
    height:120px;
    display:inline-block;
    background-color: #cccccc;
    float:left;
    border: 1px solid;
    border-color:#9e9e9e;
}

.carousel-button-left a, .carousel-button-right a{
    width: 23px;
    height: 40px;
    position: relative;
    top: 40px;
    cursor: pointer;
    text-decoration:none;
}
.carousel-button-left a{
    float: left;
    background: url(../img/button_left.png);

}
.carousel-button-right a{
    float: right;
    background: url(../img/button_right.png);
}
.carousel-block img{
    display:block;
}

/*FOOTER*/

footer {
    position: relative;
    width:100%;
    display: inline-block;

}
footer ul {
    display: inline-block;
    float:left;
    width: 286px;
    position: relative;
    border-left: 1px solid #e5e5e5;
    margin: 0px auto;
    padding-left:9px;
}
footer ul:nth-child(1) {
    border:none;
    padding-left:0px;
}


footer li{
    margin-bottom: 8px;
}
footer a {
    color:#303030;
    text-align: left;
    font-size: 12px;
    font-family: "Lato Regular";
    text-transform: capitalize;
    line-height: 1px;
    letter-spacing: 1.25px;
    display: inline-block;
}

footer h6 {
    color:#303030;
    font-size: 14px;
    font-family: "Lato Bold";
    text-transform: uppercase;
    margin-bottom: 18px;
    letter-spacing: 2px;
    line-height: 1px;
}
.social {
    float: left;
    margin:0px auto;
    margin-top:15px;
    display: inline-block;
    padding: 0px;
}
.twitter {
    background: url(../img/sprite.png) no-repeat -139px -84px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.facebook {
    background: url(../img/sprite.png) no-repeat -107px -34px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.instagram {
    background: url(../img/sprite.png) no-repeat  -84px -84px;
    width: 32px;
    height: 32px;
    display: inline-block;
}



