@font-face {
    font-family: Lato Bold;
    src: url('../fonts/Lato-Bold.ttf');
}
@font-face {
    font-family: Lato Italic;
    src: url('../fonts/Lato-Italic.ttf');
}
@font-face{
    font-family: Lato Regular;
    src: url('../fonts/Lato-Regular.ttf');
}

@font-face{
    font-family: Georgia Italic;
    src: url('../fonts/georgia-italic.ttf');
}
a:hover {
    text-decoration: underline ;
    color:#303030;
}
a:link{
    color:#303030;
}
a:visited {
    color:#303030;
}
a:active {
    color: #303030;
}



@media only screen and (max-width: 1440px) {
body {
    background-color: #e5e5e5;
    margin: 0px auto;
    width: 100%;
    height: 100%;

}


header{
    display: inline-block;
    padding-bottom:37px;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
    width: 100%;
}

#wrapper {
    width: 87%;
    height: 100%;
    background-color: #fff;
    margin: 0px auto;
    position: relative;
    padding-left: 32px;
    padding-right: 32px;
    height: 100%;
}
#logo {
    margin-top:32px;
    float:left;
    display: inline-block;
    margin-right:4px;
    width:38px;
    height:43px;
}
#logo img {
    width:38px;
    height:42px;
}

nav {
    float:left;
}
.mobile_menu {
    display:none;
}
header ul {
    list-style-type:none;
    float:right;
}

header ul>li{
    font-family: "Lato Regular";
    font-size: 14px;
    line-height: 14px;
    display: inline-block;
    margin-top:46px;
    margin-left: 57px;
}
#right_menu{
    float:right;


}

.search_img {
    background: url(../img/sprite.png) no-repeat -5px -29px;
    width: 42px;
    height: 42px;
    float:left;
    margin-top:36px;
}

.search_img_active{
    background: url(../img/sprite.png) no-repeat -5px -77px;
    width: 42px;
    height: 42px;
    float:left;
    display: none;
    margin-top:36px;
}
.search_input{
    float:left;
    display: none;
}
input[type=search] {
    margin-top:36px;
    font-family: "Lato Italic";
    color: #606060;
    height:42px;
    float:left;
    font-size: 11px;
    padding-left:10px;
    outline: none;

}

a {
    text-decoration: none;
}

#basket_mob {
    display:none;
    float: right;
    margin-left: 7px;

}

#basket_mob img {

    width: 22px;
    height: 22px;
    display: inline-block;
    margin-left: 0px;
    margin-top: 45px;
    margin-right: 10px;
}

#basket_mob a {
    display: inline-block;
    font-family: "Lato Regular";
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
}

#basket_mob p {
    margin-top: 45px;

}



#basket {
    float:left;
    margin-right:30px;


}

#basket img {

    width: 22px;
    height: 22px;
    display: inline-block;
    margin-left:22px;
    margin-top:45px;
    margin-right:10px;
}
#basket a {
    display: inline-block;
    font-family: "Lato Regular";
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
}

header p {
    margin-top: 45px;
    float:left;
}

main {
    width:  100%;

}
/* MAIN*/
h1 {
    margin-top:120px;
    font-family: "Lato Regular";
    font-size: 69px;
    line-height: 1.5;
    text-align: center;
    text-transform:uppercase;
    color:#303030;
    letter-spacing: 1px;
}
h4{
    font-family: "Georgia Italic";
    font-size: 24px;
    line-height: 1.45;
    text-align: center;
    color:    #a3a3a3;
    margin-top:15px;
    letter-spacing: 1.4px;
}
form {
    text-align: center;

}
    button[name="new_arrival"] a {
        text-decoration: none;
    }
button[name="new_arrival"] {
    margin-top:67px;
    font-family: "Lato Regular";
    font-size: 14px;
    line-height: 1;
    letter-spacing: 1.22px;
    color: #606060;
    width:230px;
    height:58px;
    text-decoration: none;
    background-color:#fff;
    display:inline-block;
    text-align: center;
    border:1px solid;
    box-shadow: none;

    border-color: #a3a3a3;
    text-transform:uppercase;
    margin-bottom:134px;
    outline: none; /* Убираем свечение в Chrome и Safari */
    -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
     /* Убираем рамку в Chrome и Safari */
    -webkit-appearance: textfield;
}
button[name="new_arrival"]:hover {
    background-color:#e5e5e5;
    text-decoration: none;
}
.squares {
    width:100%;
    position: relative;
    padding:0px;
    flex-direction: row;
    display: flex;
    font-size:0px;

}
.rectangle {
    width:25%;
    font-size: 0px;
    height: auto;
    margin-bottom: -1px;
}
.rectangle img{
    width: 100%;
    height: auto;

}
h2{
    margin-top: 80px;
    font-family: "Lato Bold";
    font-size: 34px;
    line-height: 1.16;
    text-align: center;
    color: #303030;
    text-transform: uppercase;
    letter-spacing: 3px;
}
h5{
    margin-top: 19px;
    font-family: "Georgia Italic";
    font-size: 18px;
    line-height: 1;
    text-align: center;
    color:    #a3a3a3;
    letter-spacing: 0.9px;
}
input[type="email"] {
    margin-top: 56px;
    padding:0;
    width: 460px;
    height: 51px;
    font-family: "Lato Italic";
    color: #606060;
    font-size: 11px;
    padding-left:10px;
    outline: none;
   /* Убираем свечение в Chrome и Safari */

}
input[type="submit"] {
    width: 94px;
    height: 54px;
    font-family: "Lato Regular";
    font-size: 14px;
    text-align: center;
    color:#fff;
    background-color: #f68236;
    box-shadow: none;
    border: none;
    outline: none; /* Убираем свечение в Chrome и Safari */



}

input[type="submit"]:hover {
    background-color:#e67429;
}


.carousel {
    margin-top:75px;
    width:100%;
    background-color: #e5e5e5;
    margin-bottom: 58px;
}

.carousel-wrapper{
    overflow: hidden;
    position: relative;
    margin-left:40px;
    margin-right:41px;
}
.carousel-items {
    width: 10000px; /* устанавливаем большую ширину для набора элементов */
    position: relative; /* позиционируем блок относительно основной области карусели */
}
.carousel-block {
    width:200px;
    height:120px;
    display:inline-block;
    background-color: #cccccc;
    float:left;
    border: 1px solid;
    border-color:#9e9e9e;
}

.carousel-button-left a, .carousel-button-right a{
    width: 23px;
    height: 40px;
    position: relative;
    top: 40px;
    cursor: pointer;
    text-decoration:none;
}
.carousel-button-left a{
    float: left;
    background: url(../img/button_left.png);

}
.carousel-button-right a{
    float: right;
    background: url(../img/button_right.png);
}
.carousel-block img{
    display:block;
}

/*FOOTER*/

footer {
    position: relative;
    width:100%;
    display: inline-block;

}
footer ul {
    display: inline-block;
    float:left;
    width: 24%;
    position: relative;
    border-left: 1px solid #e5e5e5;
    margin: 0px auto;
    padding-left:9px;
}
footer ul:nth-child(1) {
    border:none;
    padding-left:0px;
    padding-right: 11px;
}


footer li{
    margin-bottom: 8px;

}
footer a:hover {
    text-decoration: none;
}
footer a {
    color:#303030;
    text-align: left;
    font-size: 12px;
    font-family: "Lato Regular";
    text-transform: capitalize;
    line-height: 1px;
    letter-spacing: 1.25px;
    display: inline-block;
}

footer h6 {
    color:#303030;
    font-size: 14px;
    font-family: "Lato Bold";
    text-transform: uppercase;
    margin-bottom: 18px;
    letter-spacing: 2px;
    line-height: 1px;
}
    .breadcrumbs1 {
        display: inline-block;
        float:left;
        width: 24%;
        position: relative;
        border-left: 1px solid #e5e5e5;
        margin: 0px auto;
        padding-left:9px;

    }
    .breadcrumbs1 a {
        line-height: 12px;

    }
    .breadcrumbs1 p {
        height: 100%;
        margin-bottom: 8px;
    }
.social {
    float: left;
    margin:0px auto;
    margin-top:15px;
    display: inline-block;
    padding: 0px;
}
.twitter {
    background: url(../img/sprite.png) no-repeat -139px -84px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
    .twitter:hover {

        background-color: #cccccc;
    }
.facebook {
    background: url(../img/sprite.png) no-repeat -107px -34px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
    .facebook:hover {
        background-color: #cccccc;
    }
.instagram {
    background: url(../img/sprite.png) no-repeat  -84px -84px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
    .instagram:hover {
        background-color: #cccccc;
    }
}
@media only screen and (max-width: 1024px) {
    body {
        background-color: #fff;
        margin: 0px auto;
        width: 100%;

    }

    header {
        display: inline-block;
        padding-bottom: 37px;
        border-bottom: 1px solid #e5e5e5;
        position: relative;
        width: 100%;
    }

    #wrapper {
        width: 95.214%;
        height: 100%;
        background-color: #fff;
        margin: 0px auto;
        position: relative;
        padding-left: 0px;
        padding-right: 0px;
    }

    #logo {
        margin-top: 32px;
        float: left;
        display: inline-block;
        margin-right: 4px;
        width: 38px;
        height: 43px;
    }

    #logo img {
        width: 38px;
        height: 42px;
    }

    nav {
        float: left;
    }

    .mobile_menu {
        display: none;
    }

    header ul {
        list-style-type: none;
        float: right;
    }

    header ul > li {
        font-family: "Lato Regular";
        font-size: 14px;
        line-height: 14px;
        display: inline-block;
        margin-top: 46px;
        margin-left: 57px;
    }

    #right_menu {
        float: right;

    }

    .search_img {
        background: url(../img/sprite.png) no-repeat -5px -29px;
        width: 42px;
        height: 42px;
        float: left;
        margin-top: 36px;
    }

    .search_img_active {
        background: url(../img/sprite.png) no-repeat -5px -77px;
        width: 42px;
        height: 42px;
        float: left;
        display: none;
        margin-top: 36px;
    }

    .search_input {
        float: left;
        display: none;
    }

    input[type=search] {
        margin-top: 36px;
        font-family: "Lato Italic";
        color: #606060;
        height: 42px;
        float: left;
        font-size: 11px;
        padding-left: 10px;
        outline: none;

    }


    a {
        text-decoration: none;
    }

    #basket {
        float: left;
        margin-right: 30px;

    }

    #basket img {

        width: 22px;
        height: 22px;
        display: inline-block;
        margin-left: 22px;
        margin-top: 45px;
        margin-right: 10px;
    }

    #basket a {
        display: inline-block;
        font-family: "Lato Regular";
        font-size: 14px;
        line-height: 14px;
        text-decoration: none;
    }

    header p {
        margin-top: 45px;
        float: left;
    }

    /* MAIN*/
    h1 {
        margin-top: 120px;
        font-family: "Lato Regular";
        font-size: 69px;
        line-height: 1.5;
        text-align: center;
        text-transform: uppercase;
        color: #303030;
        letter-spacing: 1px;
    }

    h4 {
        font-family: "Georgia Italic";
        font-size: 24px;
        line-height: 1.45;
        text-align: center;
        color: #a3a3a3;
        margin-top: 15px;
        letter-spacing: 1.4px;
    }

    form {
        text-align: center;

    }

    button[name="new_arrival"] {
        margin-top: 67px;
        font-family: "Lato Regular";
        font-size: 14px;
        line-height: 1;
        letter-spacing: 1.22px;
        color: #606060;
        width: 230px;
        height: 58px;
        text-decoration: none;
        background-color: #fff;
        display: inline-block;
        text-align: center;
        border: 1px solid;
        box-shadow: none;
        border-color: #a3a3a3;
        text-transform: uppercase;
        margin-bottom: 134px;
        outline: none; /* Убираем свечение в Chrome и Safari */
        -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
        /* Убираем рамку в Chrome и Safari */
        -webkit-appearance: textfield;
    }

    button[name="new_arrival"]:hover {
        background-color: #e5e5e5;
        text-decoration: none;
    }

    .squares {
        width: 100%;
        position: relative;
        padding: 0px;
        flex-direction: row;
        display: flex;
        font-size: 0px;

    }

    .rectangle {
        width: 25%;
        vertical-align: top;
        font-size: 0px;
    }

    .rectangle img {
        width: 100%;
        height: auto;
    }

    h2 {
        margin-top: 80px;
        font-family: "Lato Bold";
        font-size: 34px;
        line-height: 1.16;
        text-align: center;
        color: #303030;
        text-transform: uppercase;
        letter-spacing: 3px;
    }

    h5 {
        margin-top: 19px;
        font-family: "Georgia Italic";
        font-size: 18px;
        line-height: 1;
        text-align: center;
        color: #a3a3a3;
        letter-spacing: 0.9px;
    }

    input[type="email"] {
        margin-top: 56px;
        padding: 0;
        width: 460px;
        height: 51px;
        font-family: "Lato Italic";
        color: #606060;
        font-size: 11px;
        padding-left: 10px;
        outline: none; /* Убираем свечение в Chrome и Safari */


    }

    input[type="submit"] {
        width: 94px;
        height: 54px;
        font-family: "Lato Regular";
        font-size: 14px;
        text-align: center;
        color: #fff;
        background-color: #f68236;
        box-shadow: none;
        border: none;

        outline: none; /* Убираем свечение в Chrome и Safari */


    }

    input[type="submit"]:hover {
        background-color: #e67429;
    }

    .carousel {
        margin-top: 75px;
        width: 100%;
        background-color: #e5e5e5;
        margin-bottom: 58px;
    }

    .carousel-wrapper {
        overflow: hidden;
        position: relative;
        margin-left: 40px;
        margin-right: 41px;
    }

    .carousel-items {
        width: 10000px; /* устанавливаем большую ширину для набора элементов */
        position: relative; /* позиционируем блок относительно основной области карусели */
    }

    .carousel-block {
        width: 200px;
        height: 120px;
        display: inline-block;
        background-color: #cccccc;
        float: left;
        border: 1px solid;
        border-color: #9e9e9e;
    }

    .carousel-button-left a, .carousel-button-right a {
        width: 23px;
        height: 40px;
        position: relative;
        top: 40px;
        cursor: pointer;
        text-decoration: none;
    }

    .carousel-button-left a {
        float: left;
        background: url(../img/button_left.png);

    }

    .carousel-button-right a {
        float: right;
        background: url(../img/button_right.png);
    }

    .carousel-block img {
        display: block;
    }

    /*FOOTER*/
    footer {
        position: relative;
        width: 100%;
        display: inline-block;

    }

    footer ul {
        display: inline-block;
        float: left;
        width: 23.5%;
        position: relative;
        border-left: 1px solid #e5e5e5;
        margin: 0px auto;
        padding-left: 9px;
    }

    footer ul:nth-child(1) {
        border: none;
        padding-left: 0px;
    }

    footer li {
        margin-bottom: 8px;

    }

    footer a {
        color: #303030;
        text-align: left;
        font-size: 11px;
        font-family: "Lato Regular";
        text-transform: capitalize;
        line-height: 1;
        letter-spacing: 1px;
        display: inline-block;
        text-decoration: none;

    }

    footer h6 {
        color: #303030;
        font-size: 14px;
        font-family: "Lato Bold";
        text-transform: uppercase;
        margin-bottom: 18px;
        letter-spacing: 2px;
        line-height: 1;
    }

    .social {
        float: left;
        margin: 0px auto;
        margin-top: 15px;
        display: inline-block;
        padding: 0px;
    }



}

@media only screen and (max-width: 768px) {
    body {
        background-color: #fff;
        margin: 0px auto;
        width: 100%;
    }

    #wrapper {
        width: 94.92% ;
        margin: 0px auto;
        padding: 0px;
    }

    header {
        padding-bottom: 20px;
        border-bottom: none;
    }

    #logo {
        margin-top: 21px;
        float: left;
        display: inline-block;
        width: 56px;
        height: 56px;

    }
    #logo img {
        width: 60px;
        height: 56px;
    }
    .mobile_menu {
        width:100%;
        margin:0px auto;
        margin-top:20px;
        display:block;
        text-align: center;
        border-bottom: 1px solid #e5e5e5;

        border-top: 1px solid #e5e5e5;
    }
    nav {

        display: none;

    }

    header ul {
        list-style-type: none;
        text-align: center;
        float: none;
        margin-top:0px ;
    }

    header ul > li {
        font-family: "Lato Regular";
        font-size: 17px;
        line-height: 14px;
        display: block;
        margin-top: 20px;
        float: none;
        text-align: center;
        margin-left: 0px;
        margin-bottom: 44px;

    }
    header ul >li:nth-child(4) {
        margin-bottom: 22px;

    }

    #right_menu {
        float: right;
        display: inline-block;
    }

    .search_img {
        background: url(../img/sprite.png) no-repeat -5px -29px;
        width: 42px;
        height: 42px;
        float: left;
        margin-top: 30px;
        margin-right:10px;
    }

    .search_img_active {
        background: url(../img/sprite.png) no-repeat -5px -77px;
        width: 42px;
        height: 42px;
        float: left;
        display: none;
        margin-top: 33px;
    }

    .search_input{
        float:left;
        display: none;
        margin-top:20px;
    }
    input[type=search] {
        margin-top:13px;
        font-family: "Lato Italic";
        color: #606060;
        width:150px;
        height:42px;
        float:left;
        font-size: 11px;
        padding-left:10px;
        outline: none;


    }




    a:link {
        text-decoration: none;
        color:#303030;

    }
    a:hover {
        color:#303030;
    }
    a:visited {
        color:#303030;
    }
    a:active {
        color:#303030;
    }

    #basket_mob {
        display:none;
    }

    #basket {
        float: right;
        margin-right: 7px;

    }

    #basket img {

        width: 26px;
        height: 26px;
        display: inline-block;
        margin-left: 0px;
        margin-top: 38px;
        margin-right: 10px;
    }

    #basket a {
        display: inline-block;
        font-family: "Lato Regular";
        font-size: 14px;
        line-height: 14px;
        text-decoration: none;
    }

    #basket p {
        margin-top: 42px;
        font-size:17px;
    }

    header p {
        margin-top: 40px;
        float: left;
    }

    /* MAIN*/
    main {
        width: 100%;
    }
    h1 {
        margin-top: 16px;
        font-family: "Lato Regular";
        font-size: 69px;
        line-height: 1.15;
        text-align: center;
        text-transform: uppercase;
        color: #303030;
        letter-spacing: 1px;
    }

    h4 {
        font-family: "Georgia Italic";
        font-size: 24px;
        line-height: 1.45;
        text-align: center;
        color: #a3a3a3;
        margin-top: 25px;
        letter-spacing: 1.4px;
        margin-bottom: 37px;
    }


    button[name="new_arrival"] {
        display: none;
    }

    .squares {
        width: 500px;
        position: relative;
        padding: 0px;
        margin: 0px auto;
        flex-direction: column;
        display: flex;
        text-align: center;
    }

    .rectangle {
        font-size: 0px;
        text-align: center;
        width: 100%;
        margin: 0px auto;
        vertical-align: top;
        position: relative;
    }
    .rec_1 img {
        width: 100%;
        height:230px;
        object-fit:cover;
        margin: 0px auto;
        padding: 0px;
    }
    .rec_2 img{
        width:100%;
        height:198px;
        object-fit:cover;
    }
    .rec_3 img{
        height:151px;
        width:100%;
        object-fit:cover;
    }
    .rec_4 img{
        height:277px;
        width:100%;
        object-fit:cover;
    }


    h2 {
        margin-top: 80px;
        font-family: "Lato Bold";
        font-size: 34px;
        line-height: 1.16;
        text-align: center;
        color: #303030;
        text-transform: uppercase;
        letter-spacing: 2.7px;
    }

    h5 {
        margin-top: 14px;
        font-family: "Georgia Italic";
        font-size: 18px;
        line-height: 1.2;
        text-align: center;
        color: #a3a3a3;
        letter-spacing: 0.9px;
    }
    form {
        text-align: center;
        height: auto;
        margin-top: 0px ;
        padding: 0px;
        margin:0px auto;
        display: inline-block;
        width:100%;


    }

    input[type="email"] {

        display: inline-block;
        position: relative;
        width: 460px;
        height: 53px;
        font-family: "Lato Italic";
        color: #606060;
        font-size: 20px;
        padding-left: 10px;
        outline: none; /* Убираем свечение в Chrome и Safari */

    }

    input[type="submit"] {
        display: inline-block;
        position: relative;
        width: 95px;
        height: 56px;
        font-family: "Lato Regular";
        font-size: 20px;
        text-align: center;
        color: #fff;
        background-color: #f68236;
        box-shadow: none;
        border: none;


    }

    .carousel {
        margin-top: 75px;
        width: 100%;
        background-color: #e5e5e5;
        margin-bottom: 3px;
        border-bottom: 1px solid #e5e5e5;
    }
    a:hover {
        text-decoration: underline ;
    }

    .carousel-wrapper {
        overflow: hidden;
        position: relative;
        margin-left: 40px;
        margin-right: 41px;
    }

    .carousel-items {
        width: 10000px; /* устанавливаем большую ширину для набора элементов */
        position: relative; /* позиционируем блок относительно основной области карусели */
    }

    .carousel-block {
        width: 200px;
        height: 120px;
        display: inline-block;
        background-color: #cccccc;
        float: left;
        border: 1px solid;
        border-color: #9e9e9e;
    }

    .carousel-button-left a, .carousel-button-right a {
        width: 23px;
        height: 40px;
        position: relative;
        top: 40px;
        cursor: pointer;
        text-decoration: none;
    }

    .carousel-button-left a {
        float: left;
        background: url(../img/button_left.png);

    }

    .carousel-button-right a {
        float: right;
        background: url(../img/button_right.png);
    }

    .carousel-block img {
        display: block;

    }


    footer {
        border-top: 1px solid #e5e5e5;
        position: relative;
        width:100%;
        display: inline-block;

    }
    .breadcrumbs1 {
        display: block;
        float:none;
        width: auto;
        position: relative;
        border-left: none;
        margin: 0px auto;
        padding-left:0px;
        text-align: center;
    }
    .breadcrumbs1 p {
        margin-top: 0px;
        margin-bottom: 15px;
        text-align: center;
    }


    footer ul:nth-child(1) {
        display:none;
    }
    footer ul:nth-child(2) {

        display:none;
    }
    footer ul:nth-child(3) {

        display:none;
    }

    footer a {
        color:#303030;
        text-align: center;
        font-size: 18px;
        font-family: "Lato Regular";
        text-transform: none;
        line-height: 1;
        letter-spacing: 0px;
        display: inline-block;
    }

    footer h6 {
        margin-top: 60px;
        color:#303030;
        font-size: 30px;
        font-family: "Lato Bold";
        text-transform: uppercase;
        margin-bottom: 67px;
        letter-spacing: 4.5px;
        line-height: 1;
        text-align: center;
    }
    .social {
        width:142px;
        float: none;
        text-align: center;
        margin:0px auto;
        margin-top:40px;
        display: block;
        padding: 0px;
    }

}

@media only screen and (max-width: 414px)and (min-width:414px)   {
    body {
        background-color: #fff;
        margin: 0px auto;
        width: 100%;
    }

    #wrapper {
        width: 90.09%;
        margin: 0px auto;
        padding: 0px;
    }

    header {
        width: 100%;
        padding-bottom: 20px;
        border-bottom: none;
    }

    #logo {
        margin-top: 21px;
        float: left;
        display: inline-block;
        width: 56px;
        height: 56px;

    }
    #logo img {
        width: 60px;
        height: 56px;
    }
    .mobile_menu {
        width:100%;
        margin:0px auto;
        margin-top:25px;
        display:block;
        text-align: center;
        border-bottom: 1px solid #e5e5e5;
        border-top: 1px solid #e5e5e5;
    }
    nav {

        display: none;

    }

    header ul {
        text-align: center;
        float: none;
        margin-top:0px ;
    }

    header ul > li {

        font-size: 17px;
        line-height: 14px;
        display: block;
        margin-top: 20px;
        float: none;
        text-align: center;
        margin-left: 0px;
        margin-bottom: 44px;

    }
    header ul >li:nth-child(4) {
        margin-bottom: 22px;

    }


    #right_menu {
        float: right;
        display: inline-block;
    }

    .search_img {
        background: url(../img/sprite.png) no-repeat -5px -29px;
        width: 42px;
        height: 42px;
        float: left;
        margin-top: 30px;
        margin-right:10px;
    }

    .search_img_active {
        background: url(../img/sprite.png) no-repeat -5px -77px;
        width: 42px;
        height: 42px;
        float: right;
        display: none;
        margin-top: 33px;
    }

    .search_input{

        display: none;

    }
    input[type=search] {
        margin-top:13px;
        font-family: "Lato Italic";
        color: #606060;
        width:310px;
        height:42px;
        float:left;
        font-size: 11px;
        line-height: 36px;
        padding-left:10px;
        outline: none;

    }

    a:link {
        text-decoration: none;
        color:#303030;

    }
    a:hover {
        color:#303030;
    }
    a:visited {
        color:#303030;
    }
    a:active {
        color:#303030;
    }

    #basket_mob {
        display:none;
        float: right;
        margin-right: 7px;

    }

    #basket_mob img {

        width: 26px;
        height: 26px;
        display: inline-block;
        margin-left: 0px;
        margin-top: 38px;
        margin-right: 10px;
    }

    #basket_mob a {
        display: inline-block;
        font-family: "Lato Regular";
        font-size: 14px;
        line-height: 14px;
        text-decoration: none;
    }

    #basket_mob p {
        margin-top: 37px;
        margin-bottom: 10px;
        font-size: 17px;
    }

    #basket {
        float: right;
        margin-right: 7px;

    }

    #basket img {
        width: 26px;
        height: 26px;
        display: inline-block;
        margin-left: 0px;
        margin-top: 38px;
        margin-right: 10px;
    }

    #basket a {
        display: inline-block;
        font-family: "Lato Regular";
        font-size: 14px;
        line-height: 14px;
        text-decoration: none;
    }

    #basket p {
        margin-top: 42px;
        margin-bottom: 10px;
        font-size:17px;
    }

    header p {
        margin-top: 40px;
        float: left;
    }

    main {
        width: 100%;
    }/* MAIN*/
    h1 {
        margin-top: 16px;
        font-family: "Lato Regular";
        font-size: 69px;
        line-height: 1.15;
        text-align: center;
        text-transform: uppercase;
        color: #303030;
        letter-spacing: 1px;
    }

    h4 {
        font-family: "Georgia Italic";
        font-size: 24px;
        line-height: 1.45;
        text-align: center;
        color: #a3a3a3;
        margin-top: 25px;
        letter-spacing: 1.4px;
        margin-bottom: 37px;
    }

    form {
        text-align: justify;
        height: auto;
        margin-top: 0px;

        display: inline-block;

    }

    button[name="new_arrival"] {
        display: none;
    }

    .squares {
        width: 373px;
        position: relative;
        padding: 0px;
        margin: 0px auto;
        flex-direction: column;
        display: flex;
    }

    .rectangle {
        width: 100%;
        text-align: center;
        margin: 0px auto;
        font-size: 0px;
        vertical-align: top;
        position: relative;
    }
    .rec_1 img {
        width: 100%;
        height:230px;
        object-fit:cover;
        margin: 0px auto;
        padding: 0px;
    }
    .rec_2 img{
        height:198px;
        width:373px;
        object-fit:cover;
    }
    .rec_3 img{
        height:153px;
        width:373px;
        object-fit:cover;
    }
    .rec_4 img{
        height:277px;
        width:373px;
        object-fit:cover;
    }




    h2 {
        margin-top: 80px;
        font-family: "Lato Bold";
        font-size: 24px;
        line-height: 1.16;
        text-align: center;
        color: #303030;
        text-transform: uppercase;
        letter-spacing: 3px;
    }

    h5 {
        margin-top: 14px;
        font-family: "Georgia Italic";
        font-size: 18px;
        line-height: 1.2;
        text-align: center;
        color: #a3a3a3;
        letter-spacing: 0.9px;
    }

    input[type="email"] {

        display: inline-block;
        position: relative;

        width: 263px;
        height: 53px;
        font-family: "Lato Italic";
        color: #606060;
        font-size: 20px;
        padding-left: 10px;
        outline: none; /* Убираем свечение в Chrome и Safari */


    }

    input[type="submit"] {
        display: inline-block;
        position: relative;
        width: 95px;
        height: 56px;
        font-family: "Lato Regular";
        font-size: 20px;
        text-align: center;
        color: #fff;
        background-color: #f68236;
        box-shadow: none;
        border: none;


    }

    .carousel {
        margin-top: 75px;
        width: 100%;
        background-color: #e5e5e5;
        margin-bottom: 3px;
        border-bottom: 1px solid #e5e5e5;
    }
    a:hover {
        text-decoration: underline ;
    }

    .carousel-wrapper {
        overflow: hidden;
        position: relative;
        margin-left: 40px;
        margin-right: 41px;
    }

    .carousel-items {
        width: 10000px; /* устанавливаем большую ширину для набора элементов */
        position: relative; /* позиционируем блок относительно основной области карусели */
    }

    .carousel-block {
        width: 200px;
        height: 120px;
        display: inline-block;
        background-color: #cccccc;
        float: left;
        border: 1px solid;
        border-color: #9e9e9e;
    }

    .carousel-button-left a, .carousel-button-right a {
        width: 23px;
        height: 40px;
        position: relative;
        top: 40px;
        cursor: pointer;
        text-decoration: none;
    }

    .carousel-button-left a {
        float: left;
        background: url(../img/button_left.png);

    }

    .carousel-button-right a {
        float: right;
        background: url(../img/button_right.png);
    }

    .carousel-block img {
        display: block;

    }


    footer {
        border-top: 1px solid #e5e5e5;
        position: relative;
        width:100%;
        display: inline-block;

    }
    footer ul {
        display: block;
        float:none;
        width: auto;
        position: relative;
        border-left: none;
        margin: 0px auto;
        padding-left:0px;
    }
    footer ul:nth-child(1) {
        border:none;
        padding-left:0px;
        display:none;
    }
    footer ul:nth-child(2) {

        display:none;
    }
    footer ul:nth-child(3) {

        display:none;
    }

    footer li{
        margin-top: 0px;
        margin-bottom: 15px;
        text-align: center;
    }
    footer a {
        color:#303030;
        text-align: center;
        font-size: 18px;
        font-family: "Lato Regular";
        text-transform: none;
        line-height: 1;
        letter-spacing: 0px;
        display: inline-block;
    }

    footer h6 {
        margin-top: 55px;
        color:#303030;
        font-size: 30px;
        font-family: "Lato Bold";
        text-transform: uppercase;
        margin-bottom: 67px;
        letter-spacing: 4px;
        line-height: 1;
        text-align: center;
    }
    .social {
        width:142px;
        float: none;
        text-align: center;
        margin:0px auto;
        margin-top:40px;
        display: block;
        padding: 0px;
    }


}
@media only screen and (max-width: 1440px) {
.thank {
    margin-top: 185px;
}
h3 {

    color: #606060;
    font-size: 27px;
    font-family: "Georgia Italic";
    padding-top: 20px;
    line-height: 1;
    text-align: center;
    padding-bottom: 27.5%;

}
}
@media only screen and (max-width: 768px) {
    .thank {
        margin-top: 31px;
    }
    h3 {
        padding-top: 32px;
        padding-bottom: 8%;
    }
}


