@font-face {
    font-family: Lato Bold;
    src: url('../fonts/Lato-Bold.ttf');
}
@font-face {
    font-family: Lato Italic;
    src: url('../fonts/Lato-Italic.ttf');
}
@font-face{
    font-family: Lato Regular;
    src: url('../fonts/Lato-Regular.ttf');
}

@font-face{
    font-family: Georgia Italic;
    src: url('../fonts/georgia-italic.ttf');
}
a:hover {
    text-decoration: underline ;
    color:#303030;
}
a:link{
    color:#303030;
}
a:visited {
    color:#303030;
}
a:active {
    color: #303030;
}
@media only screen and (max-width: 1440px) {
    body {
        background-color: #e5e5e5;
        margin: 0px auto;
        width: 100%;

    }

    header {
        display: inline-block;
        padding-bottom: 37px;
        border-bottom: 1px solid #e5e5e5;
        position: relative;
        width: 100%;
        margin-bottom: 34px;

    }

    #wrapper {
        width: 81.73%;
        height: 100%;
        background-color: #fff;
        margin: 0px auto;
        position: relative;
        padding-left: 32px;
        padding-right: 32px;
    }

    #logo {
        margin-top: 32px;
        float: left;
        display: inline-block;
        margin-right: 4px;
        width: 38px;
        height: 43px;
    }

    #logo img {
        width: 38px;
        height: 42px;
    }

    nav {
        float: left;
    }

    .mobile_menu {
        display: none;
    }

    header ul {
        list-style-type: none;
        float: right;
    }

    header ul > li {
        font-family: "Lato Regular";
        font-size: 14px;
        line-height: 14px;
        display: inline-block;
        margin-top: 46px;
        margin-left: 57px;
    }

    #right_menu {
        float: right;

    }

    .search_img {
        background: url(../img/sprite.png) no-repeat -5px -29px;
        width: 42px;
        height: 42px;
        float: left;
        margin-top: 36px;
    }

    .search_img_active {
        background: url(../img/sprite.png) no-repeat -5px -77px;
        width: 42px;
        height: 42px;
        float: left;
        display: none;
        margin-top: 36px;
    }

    .search_input {
        float: left;
        display: none;
    }

    input[type=search] {
        margin-top: 36px;

        font-family: "Lato Italic";
        color: #606060;
        height: 36px;
        float: left;
        font-size: 11px;
        padding-left: 10px;
        outline: none;
        -webkit-appearance: textfield;
        -webkit-box-sizing: content-box;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        transition: all .5s;
    }

    input::-webkit-search-decoration,
    input::-webkit-search-cancel-button {
        display: none;
    }

    a {
        text-decoration: none;
    }

    #basket_mob {
        display: none;
        float: right;
        margin-left: 7px;

    }

    #basket_mob img {

        width: 22px;
        height: 22px;
        display: inline-block;
        margin-left: 0px;
        margin-top: 45px;
        margin-right: 10px;
    }

    #basket_mob a {
        display: inline-block;
        font-family: "Lato Regular";
        font-size: 14px;
        line-height: 14px;
        text-decoration: none;
    }

    #basket_mob p {
        margin-top: 45px;

    }

    #basket {
        float: left;
        margin-right: 30px;

    }

    #basket img {

        width: 22px;
        height: 22px;
        display: inline-block;
        margin-left: 22px;
        margin-top: 45px;
        margin-right: 10px;
    }

    #basket a {
        display: inline-block;
        font-family: "Lato Regular";
        font-size: 14px;
        line-height: 14px;
        text-decoration: none;
    }

    header p {
        margin-top: 45px;
        float: left;
    }

    main {
        width: 100%;
        padding-bottom:100px;
    }

    #top_bread {
        width: 100%;

    }

    #top_bread a {
        display: inline-block;
        color: #606060;

    }

    #top_bread p {
        font-family: "Lato Regular";
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        padding-bottom:60px;
    }

    h1 {
        font-size: 26px;
        font-family: "Lato Bold";
        color:#303030;
        line-height: 1.5;
        text-align: center;
        text-transform:uppercase;
        letter-spacing: 1px;

    }
    h3 {
        font-size: 16px;
        font-family: "Georgia Italic";
        color:#a3a3a3;
        line-height: 1.5;
        text-align: center;
        text-transform:none;
        letter-spacing: 1px;
        padding-bottom: 100px;

    }

    #basket_goods {
        width: 100%;
    }
    .table_frame {
        font-size:12px;
        font-family: "Lato Regular";
        color: #a3a3a3;
        text-transform: uppercase;

        border-bottom: 1px solid #e5e5e5;
    }
    .table_frame td {
        padding-bottom: 20px;
    }



    /*FOOTER*/

    footer {
        position: relative;
        width:100%;
        display: inline-block;

    }
    footer ul {
        display: inline-block;
        float:left;
        width: 24%;
        position: relative;
        border-left: 1px solid #e5e5e5;
        margin: 0px auto;
        padding-left:9px;
    }
    footer ul:nth-child(1) {
        border:none;
        padding-left:0px;
    }


    footer li{
        margin-bottom: 8px;

    }
    footer a {
        color:#303030;
        text-align: left;
        font-size: 12px;
        font-family: "Lato Regular";
        text-transform: capitalize;
        line-height: 1px;
        letter-spacing: 1.25px;
        display: inline-block;
    }

    footer h6 {
        color:#303030;
        font-size: 14px;
        font-family: "Lato Bold";
        text-transform: uppercase;
        margin-bottom: 18px;
        letter-spacing: 2px;
        line-height: 1px;
    }
    .social {
        float: left;
        margin:0px auto;
        margin-top:15px;
        display: inline-block;
        padding: 0px;
    }
    .twitter {
        background: url(../img/sprite.png) no-repeat -139px -84px;
        width: 32px;
        height: 32px;
        display: inline-block;
    }
    .twitter:hover {

        background-color: #cccccc;
    }
    .facebook {
        background: url(../img/sprite.png) no-repeat -107px -34px;
        width: 32px;
        height: 32px;
        display: inline-block;
    }
    .facebook:hover {
        background-color: #cccccc;
    }
    .instagram {
        background: url(../img/sprite.png) no-repeat  -84px -84px;
        width: 32px;
        height: 32px;
        display: inline-block;
    }
    .instagram:hover {
        background-color: #cccccc;
    }

}